@using PaymentsBudgetSystem.Core.Models.Assets
@using PaymentsBudgetSystem.Data.Entities.Enums

@model AssetDetailsViewModel

@{
    ViewBag.Title = "Детайли за актив";
}


<h3 class="justify-content-center mt-4 font-weight-bold bg-light border-bottom-secondary border-left-secondary mb-3 pbs-box text-center"
    style="color: darkgray; font-family: 'Times New Roman'">
    @ViewBag.Title
</h3>


<div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

<div class="row">
    <div class="d-inline-block col-lg-4 col-sm-12">
        <div class="info-box ">
            <p class="card-header text-center font-weight-bold info-box-title">@Model.Name</p>
            <div class="card-body ml-3 mr-3">
                <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Отчетна стойност: </span>@Model.ReportValue лв.</p>
                <p class="border-left-info pl-2 border-bottom-light">
                    <span class="font-italic font-weight-bolder">
                        Закупен от контрагент:
                    </span>@{
                        string name = @Model.BeneficiaryName ??= "n/a";
                    }
                    @name
                </p>
                <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Дата на придобиване: </span>@Model.DateAquired.ToShortDateString()</p>

                @{
                    if (Model.ParagraphType == ParagraphType.UpkeepLongTermAssets5100)
                    {
                        <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид актив: </span>Стопански инвентар</p>
                    }
                    else if (Model.ParagraphType == ParagraphType.AquisitionLongTermAssets5200)
                    {
                        <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид актив: </span>Техника / оборудване</p>
                    }
                    else if (Model.ParagraphType == ParagraphType.AquisitionIntangibleAssets5300)
                    {
                        <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид актив: </span>Нематериален дълготраен актив</p>
                    }
                }

                <form asp-action="Details" method="post">
                    <div class="row align-items-center">
                        <div class="col-3">Година: </div>
                        <div class="col-4">
                            <input type="number" asp-for="@Model.Year" class="form-control" value="@Model.Year" aria-required="true">
                            <span asp-validation-for="@Model.Year" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="@Model.AssetId" class="form-control" value="@Model.AssetId" />
                        <div class="col-4">
                            <input class="btn btn-success fw-bold" type="submit" value="Приложи" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12">
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Месец</th>
                    <th scope="col">Отчетна стойност</th>
                    <th scope="col">Балансова стойност</th>
                    <th scope="col">Амортизация</th>
                    <th scope="col">Амортизационна квота</th>
                    <th scope="col">Остатъчна стойност</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @{
                    int currentMonth = 1;

                    @foreach (var monthlyStatus in Model.AssetMonthlyStatus)
                    {

                        <tr>
                            <th scope="row"></th>
                            <td>@currentMonth</td>
                            <td>@monthlyStatus.ReportValue.ToString("n")</td>
                            <td>@monthlyStatus.BalanceValue.ToString("n")</td>
                            <td>@monthlyStatus.AmortizationValue.ToString("n")</td>
                            <td>@monthlyStatus.AmortizationQuotaLeft.ToString("n")</td>
                            <td>@monthlyStatus.ResidualValue.ToString("n")</td>
                        </tr>
                        currentMonth++;
                    }
                }

            </tbody>
        </table>
    </div>
</div>

