@using PaymentsBudgetSystem.Core.Models.Assets;

@model AllAssetsViewModel

@{
    ViewBag.Title = "Активи";
}


<h3 class="justify-content-center mt-4 font-weight-bold bg-light border-bottom-secondary border-left-secondary mb-3 pbs-box text-center"
    style="color: darkgray; font-family: 'Times New Roman'">
    @ViewBag.Title
</h3>

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>


<div class="row">
    <div class="d-inline-block col-lg-3">
        <form class="input-group-sm" method="post" asp-area="" asp-controller="Assets" asp-action="Info">
            <div class="info-box">
                <p class="info-box-title">Статус на активи</p>
                <div>
                    <div class="row info-box-line">
                        <div class="col-6">
                            <label asp-for="InfoMonth" class="form-label">Месец: </label>
                            <select asp-for="InfoMonth" class="form-control" aria-required="true">
                                <option value="1">Януари</option>
                                <option value="2">Февруари</option>
                                <option value="3">Март</option>
                                <option value="4">Април</option>
                                <option value="5">Май</option>
                                <option value="6">Юни</option>
                                <option value="7">Юли</option>
                                <option value="8">Август</option>
                                <option value="9">Септември</option>
                                <option value="10">Октомври</option>
                                <option value="11">Ноември</option>
                                <option value="12">Декември</option>
                            </select>
                            <span asp-validation-for="InfoMonth" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="InfoYear" class="form-label">Година: </label>
                            <input type="number" asp-for="InfoYear" class="form-control" value="@Model.InfoYear" />
                            <span asp-validation-for="InfoYear" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="info-box-line">
                        <label asp-for="NameFilter" class="form-label">Име: </label>
                        <input type="text" asp-for="NameFilter" class="form-control" value="@Model.NameFilter" />
                        <span asp-validation-for="NameFilter" class="text-danger"></span>
                    </div>

                    <div class="info-box-line">
                        <label asp-for="SortAttribute" class="form-label-add-edit">Подреди по</label>
                        <select asp-for="SortAttribute" class="form-control" aria-required="true">
                            <option value="0">Име</option>
                            <option value="1">Отчетна стойност</option>
                            <option value="2">Балансова стойност</option>
                            <option value="3">Начислена амортизация</option>
                            <option value="4">Дата на придобиване</option>
                        </select>
                        <span asp-validation-for="SortAttribute" class="text-danger"></span>
                    </div>
                    <div class="info-box-line">
                        <label class="form-label-add-edit">Във</label>
                        <select asp-for="SortBy" class="form-control" aria-required="true">
                            <option value="0">Възходящ ред</option>
                            <option value="1">Низходящ ред</option>
                        </select>
                        <span asp-validation-for="SortBy" class="text-danger"></span>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-center mt-3">
                        <input class="btn btn-primary" type="submit" value="Приложи" asp-area="" asp-controller="Assets" asp-action="Info">
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="col-lg-9 col-md-11">
        @if (Model.Assets.Any())
        {
            <div class="container-fluid">
                <h4 class="text-center info-box-title text-center">Информация за активи</h4>
                <table class="table text-center" style="color: #0F0F0F">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Име</th>
                            <th scope="col">Отчетна стойност</th>
                            <th scope="col">Балансова стойност</th>
                            <th scope="col">Амортизация</th>
                            <th scope="col">Дата на придобиване</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                        @foreach (var asset in Model.Assets)
                        {
                            <partial name="_AssetInfoPartial" model="@asset"/>
                        }

                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
                        <div>
                            <a class="btn btn-success mb-2 w-100 p-3 fw-bold
                            @(Model.Page == 1 ? "disabled" : string.Empty)"
                           asp-action="Info"
                           asp-route-year="@Model.InfoYear"
                           asp-route-month="@Model.InfoMonth"
                           asp-route-sortBy="@((int)Model.SortBy)"
                           asp-route-name="@Model.NameFilter"
                           asp-route-attribute="@((int)Model.SortAttribute)"
                           asp-route-page="@(Model.Page - 1)">
                                Предишна
                            </a>
                        </div>
                        <div class="font-monospace ml-5 mr-5">
                            Страница @Model.Page / @Model.NumberOfPages
                        </div>
                        <div>
                            <a class="btn btn-success mb-2 w-100 p-3 fw-bold
                            @(Model.Page == Model.NumberOfPages || !Model.Assets.Any() ? "disabled" : string.Empty)"
                           asp-action="Info"
                           asp-route-year="@Model.InfoYear"
                           asp-route-month="@Model.InfoMonth"
                           asp-route-sortBy="@((int)Model.SortBy)"
                           asp-route-name="@Model.NameFilter"
                           asp-route-attribute="@((int)Model.SortAttribute)"
                           asp-route-page="@(Model.Page + 1)">
                                Следваща
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p class="text-center card text-secondary border-bottom-secondary info-box-title">Няма намерени резултати</p>
        }
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
