@using PaymentsBudgetSystem.Core.Models.Salaries
@using PaymentsBudgetSystem.Data.Entities.Enums

@model SalariesPaymentViewModel

@{
    ViewBag.Title = $"Изплащане на заплати за месец {Model.Month} {Model.Year} г.";
}


<h2 class="text-center text-success">@ViewBag.Title</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex justify-content-center col-6 offset-lg-3">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

<div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>

<div class="col-lg-6 col-md-12 align-items-baseline">
    <h4 class="text-black-50">Рекапитулация заплати за месец @Model.Month @Model.Year година:</h4>
    <ul class="box-shadow">
        <li> Фонд пенсии - работодател: @Model.TotalInsurancePensionEmployer.ToString("n")</li>
        <li> Фонд пенсии - служител: @Model.TotalInsurancePensionEmployee.ToString("n")</li>
        <li> Здравно осигуряване - работодател: @Model.TotalInsuranceHealthEmployer.ToString("n")</li>
        <li> Здравно осигуряване - служител: @Model.TotalInsuranceHealthEmployee.ToString("n")</li>
        <li> Осигуряване в УПФ - работодател: @Model.TotalInsuranceAdditionalEmployer.ToString("n")</li>
        <li> Осигуряване в УПФ - служител: @Model.TotalInsuranceAdditionalEmployee.ToString("n")</li>
        <li> Данък общ доход: @Model.TotalIncomeTax.ToString("n")</li>
        <li> Чисти заплати служители - трудов договор: @Model.TotalNetSalaryJobContract.ToString("n")</li>
        <li> Чисти заплати служители - държавни служители: @Model.TotalNetSalaryStateOfficial.ToString("n")</li>
    </ul>
    <h5 class="font-monospace"> ОБЩО: @Model.Amount.ToString("n")</h5>
</div>

<div class="row">
    @foreach (var employee in Model.IndividualSalaries)
    {
        <div class="pbs-box col-lg-3 col-md-6 align-items-baseline">
            <h4 class="text-black-50">@employee.EmployeeName</h4>
            <ul class="box-shadow">
                <li> Фонд пенсии - работодател: @employee.InsurancePensionEmployer.ToString("n")</li>
                <li> Фонд пенсии - служител: @employee.InsurancePensionEmployee.ToString("n")</li>
                <li> Здравно осигуряване - работодател: @employee.InsuranceHealthEmployer.ToString("n")</li>
                <li> Здравно осигуряване - служител: @employee.InsuranceHealthEmployee.ToString("n")</li>
                <li> Осигуряване в УПФ - работодател: @employee.InsuranceAdditionalEmployer.ToString("n")</li>
                <li> Осигуряване в УПФ - служител: @employee.InsuranceAdditionalEmployee.ToString("n")</li>
                <li> Данък общ доход: @employee.IncomeTax.ToString("n")</li>
            </ul>
            @if (employee.ContractType == ContractType.JobContract)
            {
                <h5 class="font-monospace"> Чиста сума: @employee.NetSalaryJobContract.ToString("n")</h5>
            }
            else
            {
                <h5 class="font-monospace"> Чиста сума: @employee.NetSalaryStateOfficial.ToString("n")</h5>
            }
        </div>
    }
</div>
