@using PaymentsBudgetSystem.Core.Models.Cash
@using PaymentsBudgetSystem.Data.Entities.Enums

@model CashPaymentDetailsModel

@{
    ViewBag.Title = "Извършено касово плащане";
}


<h3 class="justify-content-center mt-4 font-weight-bold bg-light border-bottom-secondary border-left-secondary mb-3 pbs-box text-center"
    style="color: darkgray; font-family: 'Times New Roman'">
    @ViewBag.Title
</h3>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex justify-content-center col-6 offset-lg-3">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>


<div class="d-flex justify-content-center">
    <div class="card shadow w-50">
        <p class="card-header text-center font-weight-bold info-box-title">Име на служителя: @Model.Employee.EmployeeName</p>
        <div class="card-body ml-1 mr-1">
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Номер на ордер: </span>@Model.CashOrderNumber</p>
            @{
                if (Model.Type == ParagraphType.Materials1015)
                {
                                <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Материали</p>
                }
                else if (Model.Type == ParagraphType.Services1020)
                {
                                <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Разходи за външни услуги</p>
                }
                else if (Model.Type == ParagraphType.BusinessTrips1051)
                {
                                <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Командировки</p>
                }
            }
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Стойност: </span>@Model.Amount лв.</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Описание: </span>@Model.Description</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Група: </span>Издръжка</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Дата на плащането: </span>@Model.Date.ToShortDateString()</p>
        </div>
    </div>
</div>

