@model RegisterViewModel

@{
    ViewData["Title"] = "Регистриране на нов потребител";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">
            <hr />
            <div class="text-center mb-3">
                <label asp-for="@Model.Name">Име на институцията</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <label asp-for="@Model.UserName">Потребителско име</label>
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.UserName" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Password">Парола</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.ConfirmPassword">Повторете парола</label>
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>

            <input type="checkbox" id="checkbox1" name="checkbox1" class="exclusive-checkbox" checked />
            <label for="checkbox1">Първостепенен РБ</label>

            <input type="checkbox" id="checkbox2" name="checkbox2" class="exclusive-checkbox" />
            <label for="checkbox2">Второстепенен РБ</label>

            <div id="additionalField" style="display: none;">
                <p></p>
                <h6 class="text-center">Изберете Вашият Първостепенен РБ:</h6>                
                <div>
                    @{
                        <div> 0. Без избор - Регистриране като Първостепенен РБ</div>
                        int counter = 1;
                        @foreach (var item in Model.PrimaryInstitutionName)
                        {
                            <div>@counter. @item</div>
                            counter++;
                        }
                        <p></p>
                    }
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.InputForPrimary">Въведете номер на Вашият Първостепенен РБ</label>
                    <input class="form-control" aria-required="true" asp-for="@Model.InputForPrimary" />
                    <span asp-validation-for="@Model.InputForPrimary" class="text-danger"></span>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $("#checkbox1").change(function () {
                        if (this.checked) {
                            $("#checkbox2").prop("checked", false);
                            $("#additionalField").hide();
                        }
                    });

                    $("#checkbox2").change(function () {
                        if (this.checked) {
                            $("#checkbox1").prop("checked", false);
                            $("#additionalField").show();
                        } else {
                            $("#additionalField").hide();
                        }
                    });
                });
            </script>

            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary">Регистрация</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

