@using PaymentsBudgetSystem.Core.Models.Support
@using PaymentsBudgetSystem.Data.Entities.Enums

@model SupportPaymentFormModel

@{
    ViewBag.Title = "Ново плащане - Издръжка";
}

<h3 class="justify-content-center mt-4 font-weight-bold bg-light border-bottom-secondary border-left-secondary mb-3 pbs-box text-center"
    style="color: darkgray; font-family: 'Times New Roman'">
    @ViewBag.Title
</h3>

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>
<div class="row justify-content-center">
    <div class="green-box shadow col-xl-5 col-lg-7 col-md-12">
        <div class="green-box-title text-center">@ViewBag.Title</div>
        <div class="card">
            <div class="card-body">
                <p class="border-left-success pl-4 bg-white border-bottom-light"><span class="font-italic font-weight-bolder">Име на получателя: </span>@Model.Beneficiary!.Name</p>
                <p class="border-left-success pl-4 border-bottom-light"><span class="font-italic font-weight-bolder">IBAN: </span>@Model.Beneficiary.BankAccount</p>
                <p class="border-left-success pl-4 border-bottom-light"><span class="font-italic font-weight-bolder">Булстат: </span>@Model.Beneficiary.Identifier</p>
                <p class="border-left-success pl-4 border-bottom-light"><span class="font-italic font-weight-bolder">Адрес: </span>@Model.Beneficiary.Address</p>
                @{
                    if (Model.ParagraphType == ParagraphType.Materials1015)
                    {
                        <p class="border-left-success pl-4 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Материали</p>
                    }
                    else if (Model.ParagraphType == ParagraphType.Services1020)
                    {
                        <p class="border-left-success pl-4 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Разходи за външни услуги</p>
                    }
                    else if (Model.ParagraphType == ParagraphType.BusinessTrips1051)
                    {
                        <p class="border-left-success pl-4 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Командировки</p>
                    }
                }
            </div>
        </div>
        <form asp-action="Payment" method="post">
            <div class="green-box bg-white p-4">
                <div class="mb-3 mt-3 green-box-line">
                    <div class="row">
                        <div class="col-5 border-left-success border-bottom-light">
                            <label asp-for="@Model.InvoiceNumber" class="form-label-add-edit">Номер на фактура: </label>
                        </div>
                        <div class="col-7">
                            <input asp-for="@Model.InvoiceNumber" class="form-control" aria-required="true">
                            <span asp-validation-for="@Model.InvoiceNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 green-box-line">
                    <div class="row">
                        <div class="col-5 border-left-success border-bottom-light">
                            <label asp-for="@Model.InvoiceDate" class="form-label-add-edit">Дата на фактура: </label>
                        </div>
                        <div class="col-7">
                            <input type="date" asp-for="@Model.InvoiceDate" class="form-control" value="@DateTime.Now" aria-required="true">
                            <span asp-validation-for="@Model.InvoiceDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 green-box-line">
                    <div class="row">
                        <div class="col-5 border-left-success border-bottom-light">
                            <label asp-for="@Model.Amount" class="form-label-add-edit">Сума: </label>
                        </div>
                        <div class="col-7">
                            <input type="number" asp-for="@Model.Amount" class="form-control" aria-required="true">
                            <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 green-box-line">
                    <div class="row align-items-center">
                        <div class="col-5 border-left-success border-bottom-light align-items-center">
                            <label asp-for="@Model.Description" class="form-label-add-edit">Описание: </label>
                        </div>
                        <div class="col-7">
                            <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="3"></textarea>
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="@Model.ParagraphType" class="form-control" value="@Model.ParagraphType" />
            <input type="hidden" asp-for="@Model.BeneficiaryId" class="form-control" value="@Model.Beneficiary.Id" />

            <div class="col-8 offset-2">
                <input class="btn btn-success mt-3 mb-2 w-100 p-3 fw-bold" type="submit" value="Извършване на плащането" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
