@using PaymentsBudgetSystem.Core.Models.Support
@using PaymentsBudgetSystem.Data.Entities.Enums

@model SupportPaymentDetailsViewModel

@{
    ViewBag.Title = "Извършено плащане за Издръжка";
}

<h2 class="text-center text-success">@ViewBag.Title</h2>
<hr />

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex justify-content-center col-6 offset-lg-3">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>

<div class="d-flex justify-content-center">
    <div class="card shadow w-50">
        <p class="card-header text-center font-weight-bold">Име на получателя: @Model.Beneficiary.Name</p>
        <div class="card-body ml-3 mr-3">
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">IBAN: </span>@Model.Beneficiary.BankAccount</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Булстат: </span>@Model.Beneficiary.Identifier</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Адрес: </span>@Model.Beneficiary.Address</p>
            @{
                if (Model.ParagraphType == ParagraphType.Materials1015)
                {
                    <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Материали</p>
                }
                else if (Model.ParagraphType == ParagraphType.Services1020)
                {
                    <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Разходи за външни услуги</p>
                }
                else if (Model.ParagraphType == ParagraphType.BusinessTrips1051)
                {
                    <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Вид плащане: </span>Командировки</p>
                }
            }
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Стойност: </span>@Model.Amount лв.</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Описание:  </span>@Model.Description</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Група: </span>Издръжка</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Дата на извършване на плащането: </span>@Model.Date.ToShortDateString()</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Фактура номер: </span>@Model.InvoiceNumber</p>
            <p class="border-left-info pl-2 border-bottom-light"><span class="font-italic font-weight-bolder">Дата на фактура: </span>@Model.InvoiceDate.ToShortDateString()</p>
        </div>
    </div>
</div>


