@using PaymentsBudgetSystem.Core.Models.Employees

@model EmployeeFormModel

@{
    ViewBag.Title = "Нов служител";
}


<h3 class="justify-content-center mt-4 font-weight-bold bg-light border-bottom-secondary border-left-secondary mb-3 pbs-box text-center"
    style="color: darkgray; font-family: 'Times New Roman'">
    @ViewBag.Title
</h3>

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>

<div class="row">
    <div class="form-box mt-4 shadow col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div class="form-box-title text-center text-info">Нов служител</div>
        <form asp-action="Add" method="post">
            <div class="pbs-box">
                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.FirstName" class="form-label-add-edit">Име</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.LastName" class="form-label-add-edit">Фамилия</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.LastName" class="form-control" aria-required="true"></input>
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.Egn" class="form-label-add-edit">ЕГН</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Egn" class="form-control" />
                        <span asp-validation-for="@Model.Egn" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.MonthlySalary" class="form-label-add-edit">Брутна заплата</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.MonthlySalary" class="form-control" />
                        <span asp-validation-for="@Model.MonthlySalary" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.DateEmployed" class="form-label-add-edit">Дата на назначаване</label>
                    </div>
                    <div class="col-8">
                        <input type="date" asp-for="@Model.DateEmployed" class="form-control" value="@DateTime.UtcNow.ToShortDateString()" />
                        <span asp-validation-for="@Model.DateEmployed" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="ContractType" class="form-label-add-edit">Вид назначение</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="ContractType" class="form-control" aria-required="true">
                            <option value="0">Трудов договор</option>
                            <option value="1">Държавен служител</option>
                        </select>
                        <span asp-validation-for="ContractType" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="mb-3 col-6 offset-3">
                    <input class="btn btn-info mb-2 w-100 p-3 fw-bold" type="submit" value="Създаване" />
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
