@using PaymentsBudgetSystem.Core.Models.Employees;
@using PaymentsBudgetSystem.Data.Entities.Enums

@model EmployeeFormModel

@{
    ViewBag.Title = "Промяна на служител";
}


<hr />

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>

<div class="row">
    <div class="form-box mt-4 shadow col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div class="form-box-title text-center text-info">@ViewBag.Title</div>
        <form asp-action="Edit" method="post">
            <div class="pbs-box">
                <div class="row mb-3">
                    <div class="col-12 font-weight-bolder border-left-info bg-white border-bottom-light">
                        Вид трудово правоотношение:

                        @{
                            string type = String.Empty;
                            if (Model.ContractType == ContractType.JobContract)
                            {
                                type = " Трудов договор";
                            }
                            else
                            {
                                type = " Държавен служител";
                            }
                            <span class="font-italic font-weight-bolder">
                                @type
                            </span>
                        }
                    </div>
                    <input type="hidden" asp-for="@Model.ContractType" class="form-control" value="@Model.ContractType" />
                </div>
                <div class="row mb-3">
                    <div class="col-12 font-weight-bolder border-left-info bg-white border-bottom-light">
                        Дата на назначаване:
                        <span class="font-italic font-weight-bolder">
                            @Model.DateEmployed.ToString("dd-MM-yyyy") г.
                        </span>
                    </div>
                </div>

                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.FirstName" class="form-label-add-edit">Име: </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.LastName" class="form-label-add-edit">Фамилия: </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.Egn" class="form-label-add-edit">ЕГН: </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.Egn" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.Egn" class="text-danger"></span>
                    </div>
                </div>

                <input type="hidden" asp-for="@Model.DateEmployed" class="form-control" value="@Model.DateEmployed" />
                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-info bg-white border-bottom-light">
                        <label asp-for="@Model.MonthlySalary" class="form-label-add-edit">Брутна заплата</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.MonthlySalary" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.MonthlySalary" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-box-line row mb-3">
                    <div class="col-4 border-left-warning bg-white border-bottom-warning">
                        <label asp-for="@Model.DateLeft" class="form-label-add-edit text-danger">Дата на освобождаване</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.DateLeft" class="form-control" type="date" value="@Model.DateLeftToString" />
                        <span asp-validation-for="@Model.DateLeft" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="@Model.Id" class="form-control" value="@Model.Id" />
            </div>
            <div class="row">
                <div class="mb-3 col-6 offset-3">
                    <input class="btn btn-info mb-2 w-100 p-3 fw-bold" type="submit" value="Създаване" />
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
