@using PaymentsBudgetSystem.Core.Models.Budget;

@model EditBudgetFormModel

@{
    ViewBag.Title = "Годишни Бюджети";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <div class="col-lg-6 col-sm-12">

        <h4 class="text-center">Консолидиран бюджет</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Година</th>
                    <th scope="col">Лимит Заплати</th>
                    <th scope="col">Лимит Издръжка</th>
                    <th scope="col">Лимит Капиталови</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row"></th>
                    <td>@Model.ConsolidatedBudget.FiscalYear</td>
                    <td>@Model.ConsolidatedBudget.SalariesLimit.ToString("n") лв.</td>
                    <td>@Model.ConsolidatedBudget.SupportLimit.ToString("n") лв.</td>
                    <td>@Model.ConsolidatedBudget.AssetsLimit.ToString("n") лв.</td>
                </tr>
            </tbody>
        </table>
    </div>

<div class="col-lg-6 col-sm-12 container">
    <img id="picture" src="/Fin.png" />
</div>
</div>


<style>
    #picture {
        height: 400px;
    }
</style>

@* <div class="col-7">
        <h4 class="text-center">Индивидуални бюджети</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Година</th>
                    <th scope="col">Лимит Заплати</th>
                    <th scope="col">Лимит Издръжка</th>
                    <th scope="col">Лимит Капиталови</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var budget in Model.IndividualBudgetsData)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@budget.FiscalYear</td>
                        <td>@budget.SalariesLimit.ToString("0,0") лв.</td>
                        <td>@budget.SupportLimit.ToString("0,0") лв.</td>
                        <td>@budget.AssetsLimit.ToString("0,0") лв.</td>
                        <td>
                            <span style="float:left">
                                <form class="input-group-sm" asp-area="Budget" asp-controller="Primary" asp-action="EditBudget" asp-route-id="@budget.FiscalYear">
                                    <input type="submit" value="Промяна" class="fs-6 btn btn-success mb-3 p-2" />
                                </form>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
