@using PaymentsBudgetSystem.Core.Models.Budget;

@model PrimaryBudgetsViewModel

@{
    ViewBag.Title = "Годишни Бюджети";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <div class="col-5">
        <h4 class="text-center">Индивидуални бюджети</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Година</th>
                    <th scope="col">Лимит Заплати</th>
                    <th scope="col">Лимит Издръжка</th>
                    <th scope="col">Лимит Капиталови</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var budget in Model.IndividualBudgets)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@budget.FiscalYear</td>
                        <td>@budget.SalariesLimit.ToString("N") лв.</td>
                        <td>@budget.SupportLimit.ToString("N") лв.</td>
                        <td>@budget.AssetsLimit.ToString("N") лв.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-7">
        <h4 class="text-center">Консолидирани бюджети</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Година</th>
                    <th scope="col">Лимит Заплати</th>
                    <th scope="col">Лимит Издръжка</th>
                    <th scope="col">Лимит Капиталови</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var budget in Model.ConsolidatedBudgets)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@budget.FiscalYear</td>
                        <td>@budget.SalariesLimit.ToString("N") лв.</td>
                        <td>@budget.SupportLimit.ToString("N") лв.</td>
                        <td>@budget.AssetsLimit.ToString("N") лв.</td>
                        <td>
                            <span style="float:left">
                                <a class="nav-link btn-warning" asp-area="Budget" asp-controller="Primary" asp-action="EditBudget" asp-route-year="@budget.FiscalYear">Промяна</a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-2 col-md-4">
                <p class="align-content-lg-start">Добавяне на нов бюджет</p>
            </div>
            <form class="input-group-sm" method="post" asp-area="Budget" asp-controller="Primary" asp-action="Info">
                <div class="col-lg-2 col-md-4">
                    <label asp-for="NewBudgetYear" class="form-label">Година: </label>
                    <input type="number" asp-for="NewBudgetYear" class="form-control" value="" />
                    <span asp-validation-for="NewBudgetYear" class="text-danger"></span>
                </div>
                <div class="col-lg-2 col-md-4">
                    <label asp-for="NewBudgetFunds" class="form-label">Средства: </label>
                    <input type="number" asp-for="NewBudgetFunds" class="form-control" value="" />
                    <span asp-validation-for="NewBudgetFunds" class="text-danger"></span>
                </div>

                <div class="col-md-6 col-lg-3 align-items-start">
                    <input class="btn btn-primary" type="submit" value="Добавяне" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
