@using PaymentsBudgetSystem.Core.Models.Administration;

@model GlobalSettingsEditModel

@{
    ViewBag.Title = "Настройки";
}

<div class="row justify-content-center">
    <h3 class="justify-content-center col-9 font-weight-bold bg-light border-bottom-secondary border-left-secondary mb-3 pbs-box text-center"
        style="color: darkgray; font-family: 'Times New Roman'">
        @ViewBag.Title
    </h3>
</div>


<div class="row">
    <div class="container d-flex justify-content-end col-xl-3 offset-xl-9 col-lg-5 offset-lg-7 col-sm-12">
        <a class="btn btn-outline-primary btn-lg" asp-action="Reports">Изтриване на отчети</a>
    </div>
</div>
<hr />

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex justify-content-center col-6 offset-3">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>


<form class="input-group-sm" method="post" asp-area="Administration" asp-controller="Admin" asp-action="Settings">
    <div class="row">
        <table class="table table-responsive pbs-box col-6 offset-3" style="color: #0F0F0F;">
            <tbody>
                <tr>
                    <td>
                        <label asp-for="UpkeepLife" class="form-label">Стопански инвентар - полезен живот в месеци: </label>
                        <div><span asp-validation-for="UpkeepLife" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="UpkeepLife" class="form-control" value="@Model.UpkeepLife.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="UpkeepResidualPartPercentage" class="form-label">Стопански инвентар - процент остатъчна стойност: </label>
                        <div><span asp-validation-for="UpkeepResidualPartPercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="UpkeepResidualPartPercentage" class="form-control" value="@Model.UpkeepResidualPartPercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="TangibleAssetLife" class="form-label">Техника и оборудване - полезен живот в месеци: </label>
                        <div><span asp-validation-for="TangibleAssetLife" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="TangibleAssetLife" class="form-control" value="@Model.TangibleAssetLife.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="TangibleAssetResidualPartPercentage" class="form-label">Техника и оборудване - процент остатъчна стойност: </label>
                        <div><span asp-validation-for="TangibleAssetResidualPartPercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="TangibleAssetResidualPartPercentage" class="form-control" value="@Model.TangibleAssetResidualPartPercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="IntangibleAssetLife" class="form-label">Нематериални активи - полезен живот в месеци: </label>
                        <div><span asp-validation-for="IntangibleAssetLife" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="IntangibleAssetLife" class="form-control" value="@Model.IntangibleAssetLife.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="IntangibleAssetResidualPartPercentage" class="form-label">Нематериални активи - процент остатъчна стойност: </label>
                        <div><span asp-validation-for="IntangibleAssetResidualPartPercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="IntangibleAssetResidualPartPercentage" class="form-control" value="@Model.IntangibleAssetResidualPartPercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="InsurancePensionEmployerPercentage" class="form-label">Фонд Пенсии - работодател: </label>
                        <div><span asp-validation-for="InsurancePensionEmployerPercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="InsurancePensionEmployerPercentage" class="form-control" value="@Model.InsurancePensionEmployerPercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="InsurancePensionEmployeePercentage" class="form-label">Фонд Пенсии - служител: </label>
                        <div><span asp-validation-for="InsurancePensionEmployeePercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="InsurancePensionEmployeePercentage" class="form-control" value="@Model.InsurancePensionEmployeePercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="HealthInsuranceEmployerPercentage" class="form-label">Здравно осигуряване - работодател: </label>
                        <div><span asp-validation-for="HealthInsuranceEmployerPercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="HealthInsuranceEmployerPercentage" class="form-control" value="@Model.HealthInsuranceEmployerPercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="HealthInsuranceEmployeePercentage" class="form-label">Здравно осигуряване - служител: </label>
                        <div><span asp-validation-for="HealthInsuranceEmployeePercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="HealthInsuranceEmployeePercentage" class="form-control" value="@Model.HealthInsuranceEmployeePercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="AdditionalInsuranceEmployerPercentage" class="form-label">Oсигуряване в УПФ - работодател: </label>
                        <div><span asp-validation-for="AdditionalInsuranceEmployerPercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="AdditionalInsuranceEmployerPercentage" class="form-control" value="@Model.AdditionalInsuranceEmployerPercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="AdditionalInsuranceEmployeePercentage" class="form-label">Oсигуряване в УПФ - служител: </label>
                        <div><span asp-validation-for="AdditionalInsuranceEmployeePercentage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="AdditionalInsuranceEmployeePercentage" class="form-control" value="@Model.AdditionalInsuranceEmployeePercentage.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="TaxRate" class="form-label">Данък общ доход: </label>
                        <div><span asp-validation-for="TaxRate" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="TaxRate" class="form-control" value="@Model.TaxRate.ToString("n")" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="MinimumWage" class="form-label">Минимална работна заплата: </label>
                        <div><span asp-validation-for="MinimumWage" class="text-danger"></span></div>
                    </td>
                    <td>
                        <input type="number" asp-for="MinimumWage" class="form-control" value="@Model.MinimumWage.ToString("n")" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="row justify-content-center">
        <input class="btn btn-primary btn-lg" type="submit" value="Запази промените" asp-area="Administration" asp-controller="Admin" asp-action="Settings">
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}