@using PaymentsBudgetSystem.Core.Models.Report
@using static PaymentsBudgetSystem.Common.RoleNames;

@model ReportInquiryViewModel

@{
    ViewBag.Title = "Отчет за дейността";
}

<h3 class="justify-content-center mt-4 font-weight-bold bg-light border-bottom-secondary border-left-secondary mb-3 pbs-box text-center"
    style="color: darkgray; font-family: 'Times New Roman'">
    @ViewBag.Title
</h3>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex justify-content-center col-6 offset-lg-3">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>

<div class="text-center align-items-center justify-content-center row">
        <div class="pbs-box col-lg-5">
            <div class="row card justify-content-center">
                <p class="align-content-lg-start text-wrap info-box-title">Индивидуални отчети</p>
                <div class="card-body row">
                    <div class="col-lg-5 col-sm-12 green-box shadow">
                        <div class="form-box-title">Нов отчет</div>
                        <form class="input-group-sm row" method="post" asp-area="Reports" asp-controller="Report" asp-action="ReportInquiry">
                            <div class="container justify-content-center">
                                <div class="green-box-line">
                                    <div class="border-left-success bg-white border-bottom-light mb-2">
                                        <label asp-for="Year" class="form-label">Година: </label>
                                    </div>
                                    <input type="number" asp-for="Year" class="form-control" value="@Model.Year" />
                                    <span asp-validation-for="Year" class="text-danger"></span>
                                </div>
                                <div class="green-box-line">
                                    <div class="border-left-success bg-white border-bottom-light mb-2">
                                        <label asp-for="Month" class="form-label ">Месец: </label>
                                    </div>
                                    <input type="number" asp-for="Month" class="form-control" value="@Model.Month" />
                                    <span asp-validation-for="Month" class="text-danger"></span>
                                </div>
                            </div>
                            <input type="hidden" asp-for="IsConsolidated" class="form-control" value="false" />
                            <div class="container justify-content-center">
                                <input class="btn btn-success mt-4 text-wrap" type="submit" value="Генериране на отчет" />
                            </div>
                            <div class="container justify-content-center">
                                <input class="btn btn-primary mt-4 mb-2 text-wrap" type="submit" asp-area="Reports" asp-controller="Report" asp-action="SaveReport"
                                       asp-route-year="@Model.Year" , asp-route-month="@Model.Month" value="Запази отчет" />
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 offset-lg-1 col-sm-12">
                        <div class="row card justify-content-center">
                            <div class="card-title form-box-title text-center">Запазени отчети</div>
                            <div class="card-body">
                                @if (Model.IndividualReports.Any())
                                {
                                    @foreach (var report in Model.IndividualReports)
                                    {
                                        <a class="btn btn-info mb-3" asp-area="Reports" asp-controller="Report" asp-action="LoadReport" asp-route-id="@report.ReportId">
                                            Отчет м. @report.Month @report.Year г.
                                        </a>
                                    }
                                }
                                else
                                {
                                <p class="text-center">Няма запазени отчети</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (User.IsInRole(PrimaryRoleName))
        {
            <div class="pbs-box offset-lg-1 col-lg-5">
                <div class="row card">
                    <p class="align-content-lg-start text-wrap info-box-title">Консолидирани отчети</p>
                    <div class="card-body row">
                        <div class="col-lg-5 col-sm-12 green-box shadow">
                            <div class="form-box-title">Нов отчет</div>
                            <form class="input-group-sm row" method="post" asp-area="Reports" asp-controller="Report" asp-action="ReportInquiry">
                                <div class="container justify-content-center">
                                    <div class="green-box-line">
                                        <div class="border-left-success bg-white border-bottom-light mb-2">
                                            <label asp-for="Year" class="form-label">Година: </label>
                                        </div>
                                        <input type="number" asp-for="Year" class="form-control" value="@Model.Year" />
                                        <span asp-validation-for="Year" class="text-danger"></span>
                                    </div>
                                    <div class="green-box-line">
                                        <div class="border-left-success bg-white border-bottom-light mb-2">
                                            <label asp-for="Month" class="form-label ">Месец: </label>
                                        </div>
                                        <input type="number" asp-for="Month" class="form-control" value="@Model.Month" />
                                        <span asp-validation-for="Month" class="text-danger"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="IsConsolidated" class="form-control" value="true" />
                                <div class="container justify-content-center">
                                    <input class="btn btn-success mt-4 text-wrap" type="submit" value="Генериране на отчет" />
                                </div>
                                <div class="container justify-content-center">
                                    <input class="btn btn-primary mt-4 mb-2 text-wrap" type="submit" asp-area="Reports" asp-controller="Report" asp-action="SaveReport"
                                       asp-route-year="@Model.Year" , asp-route-month="@Model.Month" value="Запази отчет" />
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 offset-lg-1 col-sm-12">
                            <div class="row card justify-content-center">
                                <div class="card-title form-box-title text-center">Запазени отчети</div>
                                <div class="card-body">
                                    @if (Model.ConsolidatedReports.Any())
                                    {
                                        @foreach (var report in Model.ConsolidatedReports)
                                        {
                                            <a class="btn btn-info mb-3" asp-area="Reports" asp-controller="Report" asp-action="LoadReport" asp-route-id="@report.ReportId">
                                                Отчет м. @report.Month @report.Year г.
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <p class="text-center">Няма запазени отчети</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
