@using PaymentsBudgetSystem.Core.Models.Beneficiaries;

@model AllBeneficiariesViewModel

@{
    ViewBag.Title = "Контрагенти";
}

<h3 class="justify-content-center mt-4 font-weight-bold bg-light border-bottom-secondary border-left-secondary mb-3 pbs-box text-center"
    style="color: darkgray; font-family: 'Times New Roman'">
    @ViewBag.Title
</h3>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex justify-content-center col-6 offset-lg-3">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

<strong>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center alert alert-danger
        alert-dismissible text-decoration-none d-flex justify-content-center col-lg-6 offset-lg-3 col-md-12">
    </div>
</strong>

<div class="row">
    <div class="d-inline-block col-xl-3 col-lg-6 col-md-12">
        <div class="info-box align-items-baseline">
            <form class="input-group-sm" method="post" asp-area="Budget" asp-controller="Primary" asp-action="Info">
                <p class="info-box-title">Търсене</p>
                <div>
                    <div class="info-box-line">
                        <label asp-for="NameFilter" class="form-label">Име: </label>
                        <input type="text" asp-for="NameFilter" class="form-control" value="@Model.NameFilter" />
                        <span asp-validation-for="NameFilter" class="text-danger"></span>
                    </div>
                    <div class="info-box-line">
                        <label asp-for="IdentifierFilter" class="form-label">Булстат: </label>
                        <input type="number" asp-for="IdentifierFilter" class="form-control" value="@Model.IdentifierFilter" />
                        <span asp-validation-for="IdentifierFilter" class="text-danger"></span>
                    </div>
                    <div class="info-box-line">
                        <label asp-for="AddressFilter" class="form-label">Адрес: </label>
                        <input type="text" asp-for="AddressFilter" class="form-control" value="@Model.AddressFilter" />
                        <span asp-validation-for="AddressFilter" class="text-danger"></span>
                    </div>
                    <div class="info-box-line">
                        <label asp-for="BankAccountFilter" class="form-label">Банкова сметка: </label>
                        <input type="text" asp-for="BankAccountFilter" class="form-control" value="@Model.BankAccountFilter" />
                        <span asp-validation-for="BankAccountFilter" class="text-danger"></span>
                    </div>
                    <div class="info-box-line">
                        <label asp-for="SortAttribute" class="form-label-add-edit">Подреди по</label>
                        <select asp-for="SortAttribute" class="form-control" aria-required="true">
                            <option value="0">Име на контрагент</option>
                            <option value="1">Булстат</option>
                            <option value="2">Адрес</option>
                            <option value="3">Банкова сметка</option>
                        </select>
                        <span asp-validation-for="SortAttribute" class="text-danger"></span>
                    </div>
                    <div class="info-box-line">
                        <label class="form-label-add-edit">Във</label>
                        <select asp-for="SortBy" class="form-control" aria-required="true">
                            <option value="0">Възходящ ред</option>
                            <option value="1">Низходящ ред</option>
                        </select>
                        <span asp-validation-for="SortBy" class="text-danger"></span>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center mt-3">
                        <input class="btn btn-primary" type="submit" value="Приложи" asp-area="" asp-controller="Beneficiaries" asp-action="Info">
                    </div>
                </div>
            </form>
        </div>
        <div class="row justify-content-center mt-5 mb-3">
            <span style="float:left">
                <a class="btn btn-lg btn-success" asp-area="" asp-controller="Beneficiaries" asp-action="Add">Добави нов контрагент</a>
            </span>
        </div>
    </div>

    @if (Model.Beneficiaries.Any())
    {
        <div class="col-xl-9 col-lg-6 col-md-12">
            <h4 class="text-center info-box-title">Информация за контрагенти</h4>
            <table class="table text-center table-striped" style="color: #0F0F0F">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Име</th>
                        <th scope="col">Булстат</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Банкова сметка</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">

                    @foreach (var beneficiary in Model.Beneficiaries)
                    {
                        <tr>
                            <th scope="row"></th>
                            <td>@beneficiary.Name</td>
                            <td>@beneficiary.Identifier</td>
                            <td>@beneficiary.Address</td>
                            <td>@beneficiary.BankAccount</td>
                            <td>
                                <span style="float:left">
                                    <a class="nav-link btn-warning" asp-area="" asp-controller="Beneficiaries" asp-action="Edit" asp-route-id="@beneficiary.BeneficiaryId">Промяна</a>
                                </span>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
                    <div>
                        <a class="btn btn-success mb-2 w-100 p-3 fw-bold
                         @(Model.Page == 1 ? "disabled" : string.Empty)"
                       asp-action="Info"
                       asp-route-name="@Model.NameFilter"
                       asp-route-identifier="@Model.IdentifierFilter"
                       asp-route-sortBy="@((int)Model.SortBy)"
                       asp-route-address="@Model.AddressFilter"
                       asp-route-bankAccount="@Model.BankAccountFilter"
                       asp-route-attribute="@((int)Model.SortAttribute)"
                       asp-route-page="@(Model.Page - 1)">
                            Предишна
                        </a>
                    </div>
                    <div class="font-monospace ml-5 mr-5">
                        Страница @Model.Page / @Model.NumberOfPages
                    </div>
                    <div>
                        <a class="btn btn-success mb-2 w-100 p-3 fw-bold
                         @(Model.Page == Model.NumberOfPages || !Model.Beneficiaries.Any() ? "disabled" : string.Empty)"
                       asp-action="Info"
                       asp-route-name="@Model.NameFilter"
                       asp-route-identifier="@Model.IdentifierFilter"
                       asp-route-sortBy="@((int)Model.SortBy)"
                       asp-route-address="@Model.AddressFilter"
                       asp-route-bankAccount="@Model.BankAccountFilter"
                       asp-route-attribute="@((int)Model.SortAttribute)"
                       asp-route-page="@(Model.Page + 1)">
                            Следваща
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xl-9 col-lg-6 col-md-12">
            <p class="text-center card text-secondary border-bottom-secondary info-box-title">Няма намерени резултати</p>
        </div>
    }
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
